// background App 背景颜色
$background-color: #F9FAFB;
$background-theme-color: #4378bd;

//theme color 品牌色 主色蓝
$theme-color: #2B83FA;

//size
$base-size: 16px;
$font-size-15: ($base-size)-1;
$font-size-14: ($base-size)-2;
$font-size-13: ($base-size)-3;
$font-size-12: ($base-size)-4;


//color
$active-color: #f2f3f5;
$text-color: #404040;
$blue: #336699;
$grey: #9b9b9b;
$light-grey: #a4a4a4;
$red: #FF5257;
