// background
$background-color: #f0f0f0;
$background-theme-color: #4378bd;

//theme color
$theme-color: #27b2ff;

//size
$base-size: 15px;
$font-size-xxs: ($base-size)-3;
$font-size-xs: ($base-size)-2;
$font-size-sm: ($base-size)-1;
$font-size-lg: ($base-size)+1;
$font-size-xl: ($base-size)+2;

//color
$active-color: #f2f3f5;
$text-color: #404040;
$blue: #336699;
$grey: #9b9b9b;
$light-grey: #a4a4a4;
$red: #ff0000;
